<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="png" href="../images/t.png" />
        <title>Concept Piece</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Six Caps">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/anaktoria-textfonts" type="text/css"/>
        <link rel="stylesheet" href="../css/conceptPiece.css" media="all">
    </head>
    <body>
       <a href="../index.html"> <img id="home" src="../images/homeb.png"></a>
        <header>
            
            <div id="cp">
                <img id="i01" src="../images/cp.png"><br />
                <span id="header_p">ConcepT PiecE</span>
            </div>
        </header><br />
        <main>
            <span id="colloquy">Uptick your taste with a blend of phrases knit together for your Social Colloquy </span>
            <br /><br /><br /><br />
            <a id="subscribe" href="form.html">Subscribe</a>
            <br /><br /><br /><br /><br /><br />
            <section id="cps" class="flex">
                <div id="cp-content01">
                    <img class="flex-item" id="cpimg01" src="../images/movie-cp.jpg"><br />
                    <span id="E_p">Entertainment</span>
                </div>
                <div id="cp-content02">
                    <img class="flex-item" id="cpimg02" src="../images/music-cp.jpg"><br />
                    <span id="M_p">Music</span>
                </div>
            </section><br />
            <section id="p"><b>
                &<br /> Many More
                </b>
            </section>
        </main><br /><br />
        <footer>
            <span id="socialConnect">Connect with us here:</span><br /><br /><br />
            <div id="social">
                <span><a href="https://www.facebook.com/Tipoff_newsletter-102457848142868"><img class="si" src="../images/facebook.png"></a></span>
                <span><a href="mailto:newsletter.tipoff@gmail.com"><img class="si" src="../images/gmail.png"></a></span>
                <span><a href="https://www.instagram.com/tipoff_newsletter/"><img class="si" src="../images/instagram.png"></a></span>
                <span><a href="https://www.linkedin.com/company/tipoff-newsletter?trk=similar-pages_result-card_full-click"><img class="si" src="../images/linkedin.png"></a></span>
                <br /><br />
        </footer>
    </body>
</html>