<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="pingback" href="https: //domainname.com/xmlrpc.php" />-->
        <link rel="icon" type="png" href="../images/t.png" />
        <title>tipoff</title>
        <!-- style and script resources -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="../css/thankYou.css" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet"> 
        <script src=""></script>
        <!--meta properties -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <span>tipoff</span>
        </header><br /><br />
        <main>
        <p>You've been successfully subscribed. Please check your mail for confirmation.</p>
        <a style="text-decoration: none; color: white;" href="https://t.me/joinchat/TBX6ARuUxOr2vNE1n3lIwQ" target="_blank" rel="noopener noreferrer"><button style="background-color: green; border: 0; padding: 10px 20px;font-size:30px;color:white;">Join Community</button></a></div>
    </body>
</html>